body {
  background-color: #212121 !important;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  display: none;
}

a {
  color: #03a9f4;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

a:active {
  color: skyblue;
}

img {
  border-radius: 5px;
}

#root {
  max-width: 500px;
}

.video-react-big-play-button-left {
  display: none !important;
}
