body {
  background-color: #2e2c29 !important;
}

a {
  color: #03a9f4;
  text-decoration: none;
  font-weight: 600;
}

.app--container {
  max-width: 500px;
  height: calc(100vh - 54px);
  overflow: scroll;
  background-color: #2e2c29 !important;
}

.app--container::-webkit-scrollbar {
  display: none;
}

.app--container::-webkit-scrollbar-track {
  display: none;
}
